<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
   <add key="contacto_mail_to" value="pceci@outlook.com" />
    <!-- <add key="smtp_mail" value="smtp.nativo@gmail.com" />
   <add key="smtp_pass" value="Reloj2525" />
   <add key="smtp_host" value="smtp.gmail.com" />
    <add key="smtp_port" value="587" />-->
    <add key="smtp_mailFrom" value="info@nativosistemas.com" />
    <add key="smtp_mail" value="info@nativosistemas.com" />
    <add key="smtp_pass" value="Mail45612" />
    <add key="smtp_host" value="mail.nativosistemas.com" />
    <add key="smtp_port" value="25" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

  </system.web>
  <!--<system.webServer>
    <staticContent>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />

    <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
    </staticContent>
  </system.webServer>-->
</configuration>
